@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HEADER STYLES */
header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  /* background-color: red; */
  padding: 10px;
}

.app-link {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.app-link:hover {
  background-color: lightgray;
}

.app-dots {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1px;
}

.app-dot {
  width: 6px;
  height: 6px;
  background-color: black;
  border-radius: 50%;
}

.site-link {
  margin: 0 10px;
  text-decoration: none;
  color: black;
}

.bell-icon {
  background-color: rgb(46, 45, 45);
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 12px;
  color: white;
}

.bell-icon:hover {
  background-color: gray;
}

.user-icon-inside {
  background-color: white;
  padding: 2px;
  border-radius: 50%;
}

.user-icon-outside {
  /* background-color: blue; */
  padding: 2px;
  border-radius: 50%;
}

.user-icon {
  background-color: rgb(46, 45, 45);
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 20px;
  color: white;
}

.user-icon-outside:hover {
  background-color: grey;
}

.image-link:hover,
.gmail-link:hover {
  text-decoration: underline;
}
/* END OF HEADER STYLES */

/* MAIN CONTENET STYLES */
.body {
  /* background-color: green; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.google-letters {
  /* color: blue; */
  letter-spacing: -3px;
  margin: 10px 0;
}

.letter {
  font-size: 80px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}

/* LETTER STYLES */
.g-letter1,
.g-letter2 {
  color: #4542ff;
}

.o-letter1,
.e-letter {
  color: #ff2e2e;
}

.o-letter2 {
  color: #d1b203;
}

.l-letter {
  color: green;
}
/* END OF LETTER STYLES */

/* SEARCH STYLES */
.search-box {
  width: 90vw;
  max-width: 600px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-radius: 50px;
  border: 1px solid #c4c3c3;
  /* background-color: palevioletred; */
  margin: 10px 0;
}

.search-box input {
  width: 80%;
  font-size: 20px;
  background: none;
  border: none;
}

.search-box input:focus {
  outline: none;
}

.search-box:hover {
  box-shadow: 0px 3px 5px #cfcfcf;
}

.search-icon,
.mic-icon,
.clear-icon {
  color: #afadad;
}

.clear-icon {
  display: none;
}

/* END OF SEARCH STYLES */

/* OTHER CONTENT STYLES */

.other-content {
  margin: 30px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.first-content {
  display: flex;
  flex-direction: row;
  font-family: Arial, Helvetica, sans-serif;
}

.g-search,
.lucky {
  background-color: #f8f7f7;
  margin: 0 5px;
  padding: 7px;
  font-size: 12px;
  color: #474747;
  border: 1px solid transparent;
  border-radius: 3px;
  cursor: pointer;
}

.g-search:hover,
.lucky:hover {
  border: 1px solid #dfdcdc;
  box-shadow: 1px 1px 1px #dfdcdc;
}

.second-content {
  margin: 20px 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #474747;
}

.language-link {
  text-decoration: none;
  margin: 0 5px;
}

.language-link:hover {
  text-decoration: underline;
}
/* END OF OTHER CONTENT STYLES */

/* END OF MAIN CONTENET STYLES */
